
body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
}


.fullWidth {
	padding-left: 0px;
	padding-right: 0px;
}

.featured{
    float: middle;
}

.disableScroll {
	overflow-y: hidden;
	overflow-x: hidden;
}

.content-container {
	max-width: 900px;
	padding-left: 4rem;
	padding-right: 2rem;
	margin: auto;
    margin-top: 2em;
}

.credit {
	font-size: 0.8rem;
	color: #2F2F2F;
	margin-top: 0.6rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#plate{
	float: right;
    padding: 1em;
}

.content-wide {
	padding-left: 4rem;
	padding-right: 2rem;
}

#coverimg {
	max-height: 100vh;
	margin: auto;
	float: right;
}

.embedded-img {
	float: right;
	margin: 2rem;
	max-width: 35vw;
}

#covertext-small {
    text-align: center;
	display: none;
}

#covertext{
	margin-top: 45%;
}

#coverimgdiv {

}

@media only screen and (max-width: 40em) { 
	.embedded-img {
		width: 100%;
		margin: 0;
	}

	#coverimg {
		max-height: none;
		width: 100%;
	}
	#med-cover-text {
		display: none;
	}
	#covertext-small {
		display: block;
		position: absolute;
		bottom: 0;
	    background-color: rgba(255,255,255,0.7);
		width: 100%;
		padding-bottom: 3rem;
	}

}

@media only screen and (min-width: 64.063em) { 
	.embedded-img {
		max-width: 22vw;
	}
}

.bb-custom-wrapper {
	height: 100%;	
}

nav a {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 2px;
    background: #1baede;
    color: #fff;
    font-size: 0;
    margin: 2px;
}

nav {
    width: 5vh;
    height: auto;
    margin: 1em auto 0;
    position: fixed;
    z-index: 1000;
    text-align: center;
    margin-left: 10px;
}

.fa {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 30px;
    line-height: 40px;
    display: block;
    -webkit-font-smoothing: antialiased;
}



